@import url('./mobile-reset.css');

#title{
    width: 100vw;
    height: 96px;
}
.title-img{
    width: 100vw;
    height: 96px;
    position: relative;
}
.title-img img {
    width: 100vw;
    height: 96px;
    margin-top: 70px;

}

.title-img h1 {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;

}


.nav-implant ul{
    /* position: absolute;
    display: flex;
    bottom: 3px;
    width: 100%; */
    display: none;
}

.nav-implant ul li {
    /* width: calc(100% / 2);
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 26px;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF; */
}

main h2{
    width: 100px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    margin-top: 70px;
    padding-top: 50px;
    margin-bottom: 50px;
}
main > p{
    text-align: center;
    margin-bottom: 20px;
}
main section{
    min-width: 375px;
    width: 375px;
    height: 1720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}
main section .row{
    width: 252px;
    height: 144px;
}
main section .row img{
    width: 252px;
    height: 144px;
}
main section .row article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
main section .row article h6{
    font-size: 16px;
}
main section .row article p{
    font-size: 14px;
    color: #999;
}
.row hr{
    margin: 0 15px;
}
main section .row p{
    font-size: 14px;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    /*
    글자가 지정 width값 이상으로 넘어갈시 ... 표시 해주는 코드 현재는 html .row p태그 안에 넣을 내용이 없어 생략
*/
}

.search-box{
width: 375px;
height: 210px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: 2px solid red; */
}

.search-box ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-box ul li{
    position: relative;
    height: 20px;
    padding-right: 7px;
    padding-left: 6px;
    border-right: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
}
.search-box ul li:nth-child(2){
    font-weight: 700;
}
.search-box ul li:last-child{
    border: 0;
}
.search-box ul li .bi{
    font-size: 16px;

}
.input-box{
    position: relative;
}
.search-box input{
    width: 270px;
    height: 36px;
    padding: 10px;
}
.search-box .input-box .bi{
    position: absolute;
    font-size: 18px;
    color: #999;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}