@import url("./pc-reset.css");


#title{
    width: 100vw;
    height: 420px;
}
.title-img img {
    width: 100vw;
    height: 420px;
    margin-top: 90px;
}

.title-img h1 {
    position: absolute;
    top: 228px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Noto Sans KR',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #fff;
}
.nav-implant{
    position: relative;
}
.nav-implant ul{
    position: absolute;
    display: flex;
    bottom: 3px;
    width: 100%;
}
.nav-implant ul li {
    width: calc(100% / 2);
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 26px;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF;
}
.nav-implant .on {
    background: rgba(26, 160, 165, 0.9);
}
main{
    width: 100vw;
    height: 1100px;
    margin-top: 90px;
}
main h2{
    width: 100px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
   padding-top: 20px;
    margin-bottom: 20px;
}
main > p{
    text-align: center;
    margin-bottom: 20px;
}
main section{
    min-width: 1440px;
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main section .row{
    width: 460px;
    height: 388px;
}
main section .row img{
    width: 460px;
    height: 268px;
}
main section .row article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
main section .row article h6{
    font-size: 18px;
}
main section .row article p{
    font-size: 16px;
    color: #999;
}
.row hr{
    margin: 0 15px;
}
main section .row p{
    font-size: 16px;
    padding: 10px 20px;
    /*
    글자가 지정 width값 이상으로 넘어갈시 ... 표시 해주는 코드 현재는 html .row p태그 안에 넣을 내용이 없어 생략
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;*/
}

.search-box{
width: 1440px;
height: 200px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: 2px solid red; */
}

.search-box ul{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-box ul li{
    position: relative;
    padding-right: 7px;
    border-right: 1px solid #333;
}
.search-box ul li:nth-child(2){
    font-weight: 700;
}
.search-box ul li:last-child{
    border: 0;
}
.search-box ul li .bi{

}
.input-box{
    position: relative;
}
.search-box input{
    width: 460px;
    height: 42px;
    padding: 20px;
}
.search-box .input-box .bi{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}


/* footer */

footer  {
    box-sizing: border-box;

    position: relative;
    width: 100vw;
    height: 354px;
    left: 0px;
    bottom: 0;
    z-index: 5000;
    background: #FFFFFF;
    border-top: 1px solid #BCBCBC;
}
footer img{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%);
    line-height: 354px;
}
footer p {
    position: absolute;
    width: 899px;
    height: 140px;
    left: 40%;
    top: 99px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #BCBCBC;
}

footer a .bi-instagram {
    position: absolute;
    right: 10.1%;
    top: 42.94%;
    bottom: 45.76%;
    font-size: 50px;
}

footer a .bi-twitter {
    position: absolute;
    right: 5.26%;
    top: 42.94%;
    bottom: 45.76%;
    font-size: 50px;
}

footer .bi{
    color: #666;
}